[Unit]
Description=D REPL server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
Group=dawg
User=dawg
ExecStart=/usr/bin/runcon -u unconfined_u -r unconfined_r -t unconfined_t -l s0-s0:c0.c1023 \
    /home/dawg/drepl/drepl_server --http-port=80 --https-port=443 -v \
    --bind 0.0.0.0 \
    --ssl-key=/etc/pki/tls/private/drepl.dawg.eu.key.pem \
    --ssl-cert=/etc/pki/tls/private/drepl.dawg.eu.crt.pem
WorkingDirectory=/home/dawg/drepl
Restart=on-failure

[Install]
WantedBy=multi-user.target
