@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@-ms-viewport {
  width: device-width;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #ebebeb;
  background-color: #2b3e50;
  margin: 0;
  font-weight: 400;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
  margin-top: 21px;
  margin-bottom: 10.5px;
  font-size: 26px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.panel {
  margin-bottom: 21px;
  background-color: #4e5d6c;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
}

.panel-info {
  border-color: transparent;
}

.panel-info > .panel-heading {
  color: #ebebeb;
  background-color: #5bc0de;
  border-color: transparent;
}

.text-primary {
  color: #df691a;
}
.text-success {
  color: #5cb85c;
}
.text-danger {
  color: #d9534f;
}
.text-warning {
  color: #f0ad4e;
}
.text-info {
  color: #5bc0de;
}


#terminal {
    font-family: monospace;
    height: 24em;
    overflow-y: auto;
}

#terminal input {
    border: none;
    background: inherit;
}

#terminal input:focus {
    outline: 0;
}

input[readonly] {
  opacity: 0.5;
}
